<!--
A partial template for login screen

-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="form-horizontal">
                <form class="form col-md-12 center-block" role="form" name="loginForm" >
                   <div class="input-group input-group-lg col-md-12 margin-bottom-sm customSpace">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                          </span>
                        <input class="form-control" type="text" placeholder="Email address" ng-model="user.mail" required>
                   </div>
                   <div class="input-group input-group-lg col-md-12 margin-bottom-sm customSpace">
                      <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                      </span>
                        <input class="form-control" type="password" placeholder="Password" ng-model="user.pass" required>
                   </div>
                   <div class="form-group">
                        <button class="btn btn-primary btn-lg center-block" ng-click="login(user)" ng-disabled="loginForm.$invalid">Sign In</button>
                        <p>{{msgTxt}}</p>
                        <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>