<div ng-controller="SearchCtrl">
    <div class="row" >

        <div class="col-lg-12 text-center v-center ">
            <p class="lead">  <span class="glyphicon glyphicon-film"></span>   Search for the movie name </p>

            <br><br><br>

            <form class="col-lg-12 col-sm-12" name="movieSearch">
                <div class="input-group" style="width:340px;text-align:center;margin:0 auto;"  ng-model="searchText">
                    <input class="form-control input-lg"  placeholder="Search a movie" name="searchTxt" type="text" ng-model="movies.searchTxt" required>
                    <span class="input-group-btn">
                        <button
                                class="btn btn-lg btn-primary glyphicon glyphicon-search" type="button" ng-disabled="movieSearch.$invalid" ng-click="initiateSearch(movies.searchTxt)">
                        </button>
                    </span>

                </div>
            </form>
        </div><br><br><br><br>

    </div> <!-- /row -->
    <div class="container" style="margin-top: 2em">
    <div class="row">
        <ng-include src="'./partials/tpl/movies-details.tpl.html'"></ng-include>
    </div></div>
</div>
<br><br>
